@import url(variables.css);
*{
    padding: 0;
    margin: 0;
    font-family: var(--font-family);
    /* box-sizing: border-box; */
}
.header{
    text-align: center;
    margin-top: 20px;
}

.todo-list{

}

.todo-list__title{
    
}