@import url(variables.css);
body{
    margin: 0;
    font-family: var(--font-family);
    background: var(--background-gradient);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    color: var(--color-white);
    /* text-align: center; */
}
/* Block: header */
/* .header{
    justify-content: center;
    display: flex;
    align-items: center;
}
.header__title{
    font-size: var(--font-size-title);
    margin-bottom: 20px;
} */

/* Block: main */
.main{
    text-align: center;
}
/* Element: header*/
.main__header{

}
/* Element: title*/
.main__title{
    font-size: var(--font-size-title);
    margin-bottom: 20px;
}
/* Element: section*/
.main__section{

}
/* Block: task-form*/
.task-form{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}
/* Element: input */
.task-form__input{
    padding: var(--padding-input);
    font-size: var(--font-size-input);
    border: none;
    border-radius: var(--border-radius-input-left);
    outline: none;
}
/* Element: button */
.task-form__button{
    padding: var(--padding-input) 20px;
    font-size: var(--font-size-input);
    border: none;
    border-radius: var(--border-radius-button-right);
    background-color: var(--color-grey);
    color: var(--color-black);
    cursor: pointer;
    transition: var(--transition-button);
}
.task-form__button:hover{
    background-color: var(--color-dark-grey);
}

.section__watch{
    color: white;
}

/* Block: task-list */
.task-list{
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Element: item */
.task-list__item{
    background-color: #000003;
    border-radius: var(--border-radius-task);
    margin: var(--margin-task);
    padding: var(--padding-task);
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 300px;
}
/* Element: text*/
.task-list__item{
    flex-grow: 1;
    text-align: left;
}

/* Element: complete button*/
.task-list__complete-btn{
    background-color: var(--color-complete-btn);
    border: none;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    font-size: 1.2em;
    margin-right: 10px;
    cursor: pointer;
    transition: var(--transition-button);
}

.task-list__complete-btn:hover{
    background-color: darken(var(--color-complete-btn),10%);
}

.task-list__delete-btn{
    background-color: var(--color-delete-btn);
    border: none;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    font-size: 1.2em;
    cursor: pointer;
    transition: var(--transition-button);
}
.task-list__delete-btn:hover{
    background-color: darken(var(--color-delete-btn),10%);
}